body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.header{
    background-color: #4B2E2B;
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0 200px;
}
ul{
  list-style: none;
  font-size: 14px;
  display: flex;
  gap: 10px;
}
a{
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
}
.page-1{
    background-color: #4B2E2B;
    padding: 50px 200px 50px 200px;
    display: flex;
     justify-content: space-between;
       align-items: center;
       gap: 100px;
}

.text-1-1{
    padding: 5px 0 5px 0;
    color: white;
}

.page-1-2{
    margin-left: 20px;
    width: 600px;
}
button{
  background: #A24D4D;
  border: 1px solid #A24D4D;
  color: white;
font-size: large;
font-weight: 800;
  cursor: pointer;
  padding: 4px 30px;
  border-radius: 4px;
  margin-top: 10px;
}
.title-1-1{
    margin: 0;
    font-size: 50px;
    color: white;
}

.title-2-1{
    text-align: center;
    margin: 30px;
    font-size: 30px;
}
.page-2-2{
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0;
    gap: 50px;
    text-align: center;
}
.img2{
    width: 250px;
}
   
.text-2-2{
    margin: 10px;
    width: 200px;
    font-size: 20px;
}

.page-3{
    background-color: beige;
    padding: 0 200px 0 200px;
    padding: 100px 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-3-1{
    font-size: 40px;
}
.qutoe-3-2{
   text-align: right;
   font-size: 30px;
   font-weight: 600;
    margin-right: 100px;
}
.page-4{
    margin:150px 200px;
    background-color: #4B2E2B;
    padding: 50px ;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: solid black 1px;
}
.text-4-1{
    font-size: 30px;
    color: white;
}

.text-4-2{
    color: white;
}

.sign-up-2 {
    border: solid white 1px;
}
.footer{
    background-color: #4B2E2B;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin: 0;
    color: white;
}